@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" value="${item.id}" underline="true"/>
                            <#input id="code" name="组编号" value="${item.code}" underline="true"/>
                            <#input id="name" name="组名称" value="${item.name}" underline="true"/>
                            <#input id="comment" name="备注" value="${item.comment}" />
                </div>

                <div class="col-sm-6">
                            <#input id="instCode" name="机构code" value="${item.instCode}" underline="true"/>
                            <#input id="status" name="0 表示正常 1表示异常" value="${item.status}" underline="true"/>
                            <#input id="createTime" name="" value="${item.createTime}" underline="true"/>
                            <#input id="modifyTime" name="" value="${item.modifyTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BonggroupInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BonggroupInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/bonggroup/bonggroup_info.js"></script>
@}
