<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.BongDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.BongData">
        <id column="id" property="id" />
        <result column="gateway_mac" property="gatewayMac" />
        <result column="bong_mac" property="bongMac" />
        <result column="battery" property="battery" />
        <result column="firm_version" property="firmVersion" />
        <result column="band_time" property="bandTime" />
        <result column="cal" property="cal" />
        <result column="step" property="step" />
        <result column="distance" property="distance" />
        <result column="run_cal" property="runCal" />
        <result column="run_step" property="runStep" />
        <result column="run_distance" property="runDistance" />
        <result column="sleep_num" property="sleepNum" />
        <result column="ds_num" property="dsNum" />
        <result column="wake_num" property="wakeNum" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gateway_mac AS gatewayMac, bong_mac AS bongMac, battery, firm_version AS firmVersion, band_time AS bandTime, cal, step, distance, run_cal AS runCal, run_step AS runStep, run_distance AS runDistance, sleep_num AS sleepNum, ds_num AS dsNum, wake_num AS wakeNum, create_time AS createTime
    </sql>

</mapper>
